$emoji-base-color:  #FFDA6A   !default;
$emoji-like-color:  #548DFF   !default;
$emoji-love-color:  #F55064   !default;
$emoji-white-color: #FFFFFF   !default;
$emoji-black-color: #000000   !default;
$emoji-text-color:  #8A8A8A   !default;
$emoji-angry-color: #D5234C   !default;
$emoji-miserable-color: #49340c   !default;