@import "./reaction-variables";

.emoji {
	pointer-events: none;
	user-select: none;
	width: 120px;
	height: 120px;
	background: $emoji-base-color;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	top: 0;
	left: 0;
	transition: filter 0.3s ease-in-out;
	filter: grayscale(0) opacity(100%);
  
	&:after {
		text-align: center;
		position: absolute;
		bottom: -40px;
		font-size: 18px;
		width: 60px;
		left: calc(50% - 30px);
		color: $emoji-text-color;  
	}
}

.emoji__face, .emoji__eyebrows, .emoji__eyes, .emoji__mouth, .emoji__tongue, .emoji__heart, .emoji__hand, .emoji__thumb {
	position: absolute;
	
	&:before, &:after {
		position: absolute;
		content: '';
	}  
}

.emoji__face {
	width: inherit;
	height: inherit;
}

.emoji-responsive-wrapper {
	@apply inline-block relative origin-top-left;

	&:not(:hover) {
		.emoji {
			filter: grayscale(1) opacity(50%);
		}

		&.emoji-animation-disabled,
		&.emoji-animation-disabled * {
			&,
			&::before,
			&::after {
				animation: none !important;
			}
		}
	}

}