@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "./elements/transitions";
@import "./elements/form";
@import "./elements//button";


button {
  &:active {
    outline: none;
  }
}

a.router-link-exact-active {
  color: #399F4F;
}

.home-banner-list {
  .item {
    div {
      //
    }
  }
}

.body-content {
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }

  li {
    list-style: disc;
    margin-left: 2rem;
  }

  a {
    color: #009BDA;
  }
}

@keyframes anim-shimmering {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.bg-shimmering {
  position: relative;
  overflow: hidden;
  background-color: #eee;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-image: linear-gradient(
      to right,
      transparent 25%,
      rgba(255,255,255,0.75) 50%,
      transparent 75%);
    background-repeat: no-repeat;
    background-size: 400%;
    animation: anim-shimmering infinite 1.5s linear reverse;
  }
}

.data-status-chip {
  min-width: 48px;
  height: 36px;
  @apply cursor-pointer
  inline-flex
  justify-center items-center
  px-3 py-1
  border-solid border
  rounded-md
  select-none;

  &:hover {
    @apply opacity-50;
  }

  &.is-danger {
    @apply bg-red-100 border-red-200 text-red-500;
  }

  &.is-success {
    @apply bg-green-100 border-green-200 text-green-500;
  }

  &.is-info {
    @apply bg-blue-100 border-blue-200 text-blue-500;
  }
}
