@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import 'elements/transitions';

body {
  background-color: #F2F5F7;
}

.no-pull-refresh {
  overscroll-behavior-y: none;
}

a.router-link-exact-active {
  color: #008C50;
}

.home-banner-list {
  .item {
    div {
      //
    }
  }
}
