* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

body {
  background-color: #F2F5F7;
  margin: 0;
  padding: 0;
}

body.loading {
  background: #399F4F;
}

.no-pull-refresh {
  overscroll-behavior-y: none;
}

@keyframes app-logo-heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes app-logo-shadow-heartbeat {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.splash-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  background-color: #5AAA4E;
}

.splash-screen__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  
  border-radius: 6rem;
  background-color: white;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;

  will-change: transform;
  animation: app-logo-heartbeat infinite alternate 0.5s ease-in-out;
}

.splash-screen__logo {
  display: block;
  object-fit: contain;
  object-position: center;
}

@keyframes anim-shimmering {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/* i.app-logo {
  font-size: 6rem;
  width: 6rem;
  height: 6rem;
  @apply inline-flex justify-center items-center; 

  &::after {
    content: '';
    box-sizing: content-box;
    display: block;
    width: 1em;
    height: 1em;
    background-image: url('./assets/logo.png');
    background-size: 0.6em 0.6em;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.is-rounded {
    @apply relative rounded-full border-2 border-solid border-gray-200 bg-gray-100;

    &::before {
      content: '';
      width: 1em;
      height: 1em;
      @apply absolute block rounded-full bg-white shadow-xl;
    }

    &.is-beating::before {
      will-change: opacity, transform;
      animation: app-logo-shadow-heartbeat infinite alternate 0.5s ease-in-out;
    }
  }

  &.is-beating {
    &::after {
      will-change: transform;
      animation: app-logo-heartbeat infinite alternate 0.5s ease-in-out;
    }
  }
} */