.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .15s
}
.fade-enter,
.fade-leave-to {
  opacity: 0
}

.slide-y-fade-transition {
  &-enter-active,
  &-leave-active {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(1rem);
  }
}
